* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Poppins, sans-serif;
    background: #BFD7E4;
    color:#4E4958;
}

body::before {
    content: '';
    width: 100%;
    height: 465px;
    background:#293241;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.page {
    width: 736px;
    margin: auto;
}

header {
    margin-top: 95px;
    text-align: center;
}

header h1 {
    font-family: Staatliches, sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: white;
    text-transform: uppercase;
    
}

header p {
    font-weight: 400;
    font-size: 20px;
    color: white;
    margin-bottom: 30px;
}

header .review {
    display: inline-block;
    position: relative;
}

header .stars {
    position: absolute;
    top: 30px;
    left: 50px;
}

h2 {
    font-family: Staatliches, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 34px;
    color: #535971;
    margin-bottom: 8px;
}


article {
    background:  #F67669;
    border-radius: 20px 20px 0 0;
    width: 100%;
    height: 133px; 
    display: flex;
    justify-content: center;
    margin-top: 25px;
    align-items: center;
    font-family: Staatliches, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    color: #ffffff;
}

form {
    background: #ffffff;
    min-height: 300px;
    padding: 64px;

}

fieldset {
    border: none;
}

fieldset legend {
    font-family: Staatliches, sans-serif;
    text-transform: uppercase;
    color: #535971;
    font-weight: 400;
    font-size: 24px;
    line-height: 34px;
    width: 100%;
    padding-bottom: 16px;
    margin-bottom: 36px;
    border-bottom: 1px solid #E6E6F0;
}

.input-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 16px;
}

.input-wrapper label {
    font-size: 14px;
    line-height: 24px;
    color: #4E4958;
    margin-bottom: 8px;
}

.input-wrapper label span {
    margin-left: 12px;
    font-size: 12px;
    line-height: 20px;
    color: #C1BCCC;
}

.input-wrapper label span:hover {
    color: #5c6a71;

}

.input-wrapper-row {
    margin-top: 30px;

}

.checkbox-wrapper {
    position: relative;  
    margin-top: 24px;
}

.checkbox-wrapper input {
    position: absolute;   
    top: 0;
    left: 0;
    width: 24px;    
    height: 24px; 
    opacity: 0;    
}

.checkbox-wrapper label::before {
    content: ""; 
    width: 24px;
    height: 24px;
    border: 1px solid #E6E6F0 ;
    border-radius: 8px;
}

.checkbox-wrapper label {
    display: flex;
    gap: 16px;       
}
.checkbox-wrapper input:focus + label::before {
    outline: 2px solid black;
}

.checkbox-wrapper input:checked + label::before {   
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='14' viewBox='0 0 18 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 11.17L1.83 7L0.410004 8.41L6 14L18 2L16.59 0.589996L6 11.17Z' fill='%23F67669'/%3E%3C/svg%3E%0A");
    background-repeat: no-repeat;
    background-position: center
}

.input-wrapper input:not(input[type="checkbox"]), select, textarea {
    width: 100%;
    height: 56px;
    padding: 0 15px;
    background: #FAFAFC;
    border: 1px solid #E6E6F0;
    border-radius: 8px;
}

.input-wrapper textarea {
    resize: vertical;
    max-height: 330px;
    min-height: 100px;
    width: 100%;
    height: 166px;
}

.field-group {
    display: flex;
    height: fit-content;
    gap: 22px;
    margin-bottom: 16px;
}

#mentor-name {
    width: 50%;
}

footer {
    background:  #535971;
    border-radius: 0px 0px 20px 20px;
    width: 100%;
    height: 160px;
    left: 345px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 100px;
}

footer .button {
    background: #F67669;
    border-radius: 20px;
    border: none;
    width: 608px;
    height: 55.65px;
    color: #FFFFFF;
    font-family: 'Staatliches';
    font-weight: 400;
    font-size: 20px;
}

footer .button:hover {
    background:#86423a ;
}

